src/main/resources/xsd-schema/db_schema_robot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="items" type="itemsType">
        <xs:annotation>
            <xs:documentation>#############################################################
                Тэг : &lt;items/>
                Аттрибуты :
                - offset = (опционально) заданное смещение от начала дэбэшки (по дефолту 0)
                #############################################################
                Тэг : &lt;item/>
                Аттрибуты :
                - type = (обязателен) тип переменной
                - note = (опционально) описание переменной
                - abs = (опционально) если "true" то гистерезис в абсолютных значениях, отсутсвует или "false" в
                процентах (по дефолту "false")
                - hysteresis = (опционально) значение типа float (по дефолту ".0" )
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="itemType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute type="xs:string" name="note" use="optional"/>
                <xs:attribute type="xs:string" name="tp" use="optional"/>
                <xs:attribute type="xs:string" name="ts" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="itemsType">
        <xs:sequence>
            <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>1 байт 2 байт 3 байт 4 байт 5 байт 6 байт 7 байт 8 байт 9 байт 10 байт 11 байт 12
                        байт 13 байт 14 байт 15 байт 16 байт 17 байт 18 байт 19 байт 20 байт 21 байт 22 байт 23 байт 24
                        байт 25 байт 26 байт 27 байт 28 байт 29 байт 30 байт 31 байт 32 байт 33 байт 34 байт 35 байт 36
                        байт 37 байт 38 байт 39 байт 40 байт 41 байт 42 байт 43 байт 44 байт 45 байт 46 байт 47 байт 48
                        байт 49 байт 50 байт 51 байт 52 байт 53 байт 54 байт 55 байт 56 байт 57 байт 58 байт 59 байт 60
                        байт 61 байт 62 байт 63 байт 64 байт 65 байт 66 байт 67 байт 68 байт 69 байт 70 байт 71 байт 72
                        байт 73 байт 74 байт 75 байт 76 байт 77 байт 78 байт 79 байт 80 байт 81 байт 82 байт 83 байт 84
                        байт 85 байт 86 байт 87 байт 88 байт 89 байт 90 байт 91 байт 92 байт 93 байт 94 байт 95 байт 96
                        байт 97 байт 98 байт 99 байт 100 байт 101 байт 102 байт 103 байт 104 байт 105 байт 106 байт 107
                        байт 108 байт 109 байт 110 байт 111 байт 112 байт 113 байт 114 байт 115 байт 116 байт 117 байт
                        118 байт 119 байт 120 байт 121 байт 122 байт 123 байт 124 байт 125 байт 126 байт 127 байт 128
                        байт 129 байт 130 байт 131 байт 132 байт 133 байт 134 байт 135 байт 136 байт 137 байт 138 байт
                        139 байт 140 байт 141 байт 142 байт 143 байт 144 байт 145 байт 146 байт 147 байт 148 байт 149
                        байт 150 байт 151 байт 152 байт 153 байт 154 байт 155 байт 156 байт 157 байт 158 байт 159 байт
                        160 байт 161 байт 162 байт 163 байт 164 байт 165 байт 166 байт 167 байт
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>